body {
  background: #dcdcdc;
}

#map {
  height: 75vh;
}

.landing-map {
  overflow: hidden;
  position: relative;
  height: 80vh;
}

.landing-map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.main-container {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  width: 90%;
  top: 55vh;
  padding: 5%;
  margin: 5%;
}

.nav-bar {
  padding: 2px 25px;
}

.nav-bar .button {
  padding: 10px;
  margin: 8px;
  border-radius: 25px;
}

.search-segment-container {
  position: absolute;
  top: 45vh;
  width: 100%;
  padding: auto;
}

.search-segment {
  max-width: 600px;
  margin: auto;
}

.search-segment .ui.grid {
  margin: 1px;
}

.search-segment h5 {
  margin: auto 0;
}