body {
  background: #dcdcdc;
}

.landing-map {
  overflow: hidden;
  position: relative;
  height: 80vh;
}

.landing-map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.main-container {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  width: 90%;
  top: 55vh;
  padding: 5%;
  margin: 5%;
}

.nav-bar {
  padding: 2px 25px;
}

.nav-bar .button {
  padding: 10px;
  margin: 8px;
  border-radius: 25px;
}